[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = git@github.com:yihui/hugo-xmin.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = git@github.com:Track3/hermit.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = git@github.com:panr/hugo-theme-terminal.git
