<!-- extend_head.html used by PaperMod theme -->

<!-- https://indieweb.org/h-card -->
<span id="h-card" class="h-card" style="display: none;">
    <span class="p-name">Claudine Chionh</span>
    <link rel="me" href="https://en.wikipedia.org/wiki/User:ClaudineChionh">
    <link rel="me" href="https://sr.ht/~claudinec/">
    <link rel="me" href="https://github.com/claudinec">
    <link rel="me" href="https://aus.social/@claudinec">
    <link rel="me" href="https://bsky.app/profile/claudinec.net">
</span>
